.overviewItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .overview {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        background-color: #6fc3df;
        padding: 0 5vw;
        height: 35vh;
        h2 {
            font-size: 50px;
            font-family: "Playfair Display", serif;
        }
    }
}
