.overviewItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #262b46;
    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px;
        h2 {
            transform: rotate(-90deg);
            width: 200px;
            text-align: center;
        }
    }
    .left {
        img {
            width: 240px;
            order: 0;
        }
    }
    .right {
        img {
            width: 240px;
            order: 1;
        }
    }
    .style1 {
        background: #87c5a4;
    }
    .style2 {
        background: #6fc3df;
    }
    .style3 {
        background: #ec8d81;
    }
    .style4 {
        background: #8d82c4;
    }
    .style5 {
        background: #e7b788;
    }
    .style6 {
        background: #8ea9e8;
    }
    .overview {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding: 0 5vw;
        height: 35vh;
        h2 {
            font-size: 50px;
            font-family: "Playfair Display", serif;
        }
    }
}
