body {
  /* overflow: hidden; */
}

.backdrop {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1000;
}
