@import url("./pages/LevelOne.scss");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

/*  colorpalette: #262B46,#6FC3DF,#8D82C4,
#EC8D81,#E7B788,#87C5A4,#8EA9E8 
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}
.fontPlayfair {
  font-family: "Playfair Display", serif;
}
.Navi {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  p {
    letter-spacing: 3px;
    font-weight: bold;
  }
}
.headerFooter {
  background-color: #262b46;
  height: 50vh;
  article {
    padding: 10vh 5vw;
    h1 {
      font-size: 55px;
      margin-bottom: 2vh;
    }
    h4 {
      font-size: 30px;
      margin-bottom: 5vh;
    }
    p {
      line-height: 25px;
    }
    form {
      margin-top: 5vh;
      input {
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
      }
    }
  }
}
.button {
  background-color: #6fc3df;
  margin-left: 10px;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.left {
  img {
    width: 240px;
    order: 0;
  }
}
.right {
  img {
    width: 240px;
    order: 1;
  }
}
.style1 {
  background: #87c5a4;
  border-radius: 5px;
}
.style2 {
  background: #6fc3df;
  border-radius: 5px;
}
.style3 {
  background: #ec8d81;
  border-radius: 5px;
}
.style4 {
  background: #8d82c4;
  border-radius: 5px;
}
.style5 {
  background: #e7b788;
  border-radius: 5px;
}
.style6 {
  background: #8ea9e8;
  border-radius: 5px;
}
.ingredients {
  padding: 30px;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  background-color: #262b46;
  .close {
    text-align: right;
  }
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    img {
      width: 300px;
    }
    div {
      padding: 2em;
      h2 {
        font-size: 30px;
      }
      h3,
      .description {
        margin: 3vh 0 2vh 0;
      }
    }
  }
}
.popUp {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 10%;
  top: 40%;
  div {
    h2 {
      transform: rotate(0deg);
    }
  }
}
/* ######################## MediaQueries ######################### */
@media only screen and (max-width: 600px) {
  .headerFooter {
    height: 65vh;
  }
  .popUp {
    top: 5%;
    left: 1%;
  }
}
